html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #736e70;
  box-sizing: border-box;
  overflow: hidden;
  /*font-family: 'Shadows Into Light', cursive;*/
}

i {
  color: black;
}

body {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

header {
  background: #0f7496;
  color: white;
}

#content {
  flex: 1 0;
  overflow: hidden;
}

.btn {
  cursor: pointer;
}

.card {
  background: #f8f8f8;
}

.schedule-card {
  background: #f8f8f8;
  font-size: 10pt;
  height: 100px;
  width: 85%;
  overflow-y: auto;
  overflow-x: hidden;
}

.schedule-card .table {
  margin-bottom: 0;
}