<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Find Service</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <div th:replace="fragments/styles"></div>
  <link rel="stylesheet" href="/css/find-services.css"/>
</head>
<body>
  <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-10 offset-1 p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Filter by name"/>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="content" class="d-flex flex-column">
    <div id="title-container" class="p-2">
      <h6 class="text-center h6">Available Services</h6>
    </div>
    <div id="service-card-container" class="align-self-stretch">
      <div class="row">
        <div class="col-12">


          <!-- test cards -->
          <div class="service-card card m-2 p-2">
            <div class="row">
              <div class="col-12">
                Downtown Shuttle Company
              </div>
            </div>
            <div class="row">
              <div class="col-12 shuttle-count pt-2">
                2 shuttles active
              </div>
            </div>
          </div>

          <div class="service-card card m-2 p-2">
            <div class="row">
              <div class="col-12">
                Downtown Shuttle Company
              </div>
            </div>
            <div class="row">
              <div class="col-12 shuttle-count pt-2">
                2 shuttles active
              </div>
            </div>
          </div>

          <div class="service-card card m-2 p-2">
            <div class="row">
              <div class="col-12">
                Downtown Shuttle Company
              </div>
            </div>
            <div class="row">
              <div class="col-12 shuttle-count pt-2">
                2 shuttles active
              </div>
            </div>
          </div>

          <div class="service-card card m-2 p-2">
            <div class="row">
              <div class="col-12">
                Downtown Shuttle Company
              </div>
            </div>
            <div class="row">
              <div class="col-12 shuttle-count pt-2">
                2 shuttles active
              </div>
            </div>
          </div>

          <div class="service-card card m-2 p-2">
            <div class="row">
              <div class="col-12">
                Downtown Shuttle Company
              </div>
            </div>
            <div class="row">
              <div class="col-12 shuttle-count pt-2">
                2 shuttles active
              </div>
            </div>
          </div>

          <div class="service-card card m-2 p-2">
            <div class="row">
              <div class="col-12">
                Downtown Shuttle Company
              </div>
            </div>
            <div class="row">
              <div class="col-12 shuttle-count pt-2">
                2 shuttles active
              </div>
            </div>
          </div>
          <!-- end test cards -->




        </div>
      </div>
    </div>
  </div>
  <div th:replace="fragments/scripts"></div>
  <script src="/js/find-services.js"></script>
  <script>
    $(document).ready(function() {
      var app = new FindServiceApp();
    });
  </script>
</body>
</html>